*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    // !! Make sure this is removed in main!
    font-family: "Source Code Pro", monospace;
    background-color: #23262e;
}

:root {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
