// ? Colour Palette
$nearlyBlack: #23262e;

$offWhite: #d5ced9;
$yellow: #ffe66d;
$green: #96e072;
$pink: #ff00aa;
$purple: #c668ba;
$orange: #fc644d;

// ? Fonts Variables
// ! "Source Code Pro" is set as the _reset (default) font

// ? Font Family

// ? Main Font variables
$main-font: "Source Code Pro", monospace;
$heading-font: "Source Code Pro Bold", monospace;

// ? All font variables from @font-face
$sourceCodePro-regular: "Source Code Pro", monospace;
$sourceCodePro-extraLight: "Source Code Pro ExtraLight", monospace;
$sourceCodePro-light: "Source Code Pro Light", monospace;
$sourceCodePro-semiBold: "Source Code Pro Semibold", monospace;
$sourceCodePro-bold: "Source Code Pro Bold", monospace;
$sourceCodePro-black: "Source Code Pro Black", monospace;
