@import "../../Styling/variables.module";
@import "../../Styling/mixins.module";
@import "../../Styling/fonts.module";
@import "../../Styling/reset.module";

.main-container {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.content-container {
    width: 90vw;
}

.logo {
    letter-spacing: 1px;

    width: auto;
}

.logo p:nth-child(2) {
    letter-spacing: 2px;
}

// ? Media Queries
// Based on Bootstrap breakpoints

// * X-Small = Less than 576px - small mobile devices
@include x-small {
}

// * Small = Less than 768px - mobile devices
@include small {
}

// * Medium = Less than 992px - tablets
@include medium {
}

// * Large = Less than 1200px - small desktops
@include large {
    .content-container {
        width: 70vw;
    }
}

// * Extra Large = Less than 1399px - medium desktops
@include extra-large {
    .content-container {
        width: 70vw;
    }
}

// * Extra EXTRA Large = More than 1400px - medium desktops
@include extra-extra-large {
    .content-container {
        width: 70vw;
    }
}
